.about {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../images/cover.jpg') center/cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}

.part {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}
.title-img {
    height: 23em;
    width: 35em;
}

@media screen and (max-width: 960px) {
    .title-img {
        height: 16em;
        width: 21em;
    }
}